[Unit]
Description=Webchain-pool-payouts
After=network.target

[Service]
Type=simple
User=webchain
Group=webchain
ExecStart=/home/webchain/webchain-pool/build/bin/webchain-pool home/webchain/webchain-pool/config-payouts.json
Restart=always

[Install]
WantedBy=multi-user.target
